.navbar{
    background-color: #d40101ea;
}
.bbq{
    font-style: bold;
}
title{
   font-family:CooperBlackBQ; 
}
img{
    height: 100px;
    width: 100px;
}
.footer{
    background-color: grey;
}
.nav-item{
font-family:Arial, Helvetica, sans-serif;
color:white;
}
#logo{
border-radius: 50%;
width: 70px; height: 70px;
}
#font{
    color: white;
}
.caro{
    width: fit-content;
    height: fit-content;
}